<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.scnu.danmakutv.video.mapper.VideoTagRelationMapper">

    <!-- 根据视频ID删除标签关联关系 -->
    <delete id="deleteByVideoId" parameterType="long" >
        DELETE FROM r_video_tag
        WHERE video_id = #{videoId}
    </delete>

    <!-- 根据视频标签列表查找被推荐视频ID -->
    <select id="findVideoIdsByTagIds" resultType="long">
        SELECT vtr.video_id
        FROM r_video_tag vtr
        WHERE vtr.tag_id IN
        <foreach item="tagId" collection="tagIds" open="(" separator="," close=")">
            #{tagId}
        </foreach>
        GROUP BY vtr.video_id
        ORDER BY COUNT(*) DESC
        LIMIT #{limit}
    </select>
</mapper>